<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>innlogging</servlet-name>
    <servlet-class>no.hvl.dat104.innlogging</servlet-class>
    <init-param>
      <param-name>password</param-name>
      <param-value>jesus</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>innlogging</servlet-name>
    <url-pattern>/Oblig1_Handleliste/omg</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>passord</param-name>
    <param-value>jesus</param-value>
  </context-param>
</web-app>